@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Lato", sans-serif, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
  # scroll
  --------------------------------------------------------------*/
/* width */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #ebebeb;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(52, 152, 219);
  background: linear-gradient(180deg, rgba(52, 152, 219, 1) 0%, rgba(52, 152, 219, 0.6532738095238095) 50%, rgba(52, 152, 219, 0.3843662464985994) 100%);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 152, 219);
  background: linear-gradient(0deg, rgba(52, 152, 219, 1) 0%, rgba(52, 152, 219, 0.6532738095238095) 50%, rgba(52, 152, 219, 0.3843662464985994) 100%);
  border-radius: 10px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
  border-radius: 10px;
}